<form class="w-11/12 md:w-2/3 lg:w-1/3 mx-auto"></form>
<fieldset class="fieldset bg-base-100 border-base-300 rounded-box border p-4">
  <legend class="fieldset-legend">Configuración de OpenAI</legend>

  <label class="label" for="ia-supplier">Proveedor AI</label>
  <input
    id="ia-supplier"
    name="ia-supplier"
    type="text"
    class="input w-full"
    autocomplete="off"
    readonly
    value="OpenAI"
    disabled
  />

  <label class="label" for="api-key">API Key</label>
  <input
    id="api-key"
    name="api-key"
    type="text"
    class="input w-full"
    autocomplete="off"
  />
</fieldset>
