<section class="h-screen w-screen p-10">
  <div class="py-8 px-4 mx-auto">
    <div class="mx-auto max-w-screen-sm text-center">
      <img
      height="500"
      width="500"
      priority="true"
      [ngSrc]="image404"
      [alt]="imageAlt"
      class="object-cover mx-auto"
    />
      <p
        class="mb-4 text-3xl tracking-tight font-bold md:text-4xl"
      >
        Something's missing.
      </p>
      <p class="mb-4 text-lg font-light text-gray-600">
        Sorry, we can't find that page. You'll find lots to explore on the home
        page.
      </p>
      <a
        routerLink="/"
        class="btn btn-outline btn-info"
        >Back to Homepage</a
      >
    </div>
  </div>
</section>
