<nav class="navbar bg-base-100 shadow-sm fixed top-0 z-50">
  <div class="flex-1">
    <button class="btn btn-ghost text-xl">Dexter</button>
  </div>

  <div class="flex gap-2">
    <div class="dropdown dropdown-end">
      <div
        tabindex="0"
        role="button"
        class="btn btn-ghost btn-circle avatar avatar-placeholder"
      >
        <div class="bg-accent-content text-base-100 w-12 rounded-full">
          <span class="text-xl">YA</span>
        </div>
      </div>

      <ul
        class="menu dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow"
      >
        <li>
          <a href="/"><span class="badge">🛡️</span> Perfil</a>
        </li>
        <li>
          <a href="/"><span class="badge">🔒</span> Cerrar Sesión</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
