<section class="h-screen-[90vh] flex flex-col mb-32">
  <div class="flex-grow overflow-y-auto">
    <app-chat-view message="Hola" requestStatus="init" type="start" />
    <app-chat-view message="Adios" requestStatus="loading" type="end" />
  </div>
</section>

<footer class="relative w-full">
  <fieldset class="fieldset fixed bottom-0 right-0 left-0 p-1 my-17 md:my-16">
    <textarea
      class="textarea h-24 rounded-2xl resize-none w-full focus:outline-none text-base pl-4 pr-15"
      placeholder="Pregunta lo que quiera..."
      id="prompt"
      name="prompt"
    ></textarea>

    <button
      type="button"
      class="absolute right-5 top-7 focus:outline-none cursor-pointer"
    >
      <lucide-icon [img]="icon" class="h-14 w-14 text-primary"></lucide-icon>
    </button>
  </fieldset>
</footer>
